
.backgroundColor1{
    background-color: #0D4C92;
}

.title{
    font-size: 28px;
    text-align: center;
    color: #0D4C92;
    text-transform: uppercase;
}

.title-1{
    font-size: 20px;
    text-transform: uppercase;
    .MuiInputBase-root{
        input {
            font-size: 20px;
            text-transform: uppercase;
        }
    }
}

.title-2{
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    .MuiInputBase-root{
        input{
            font-size: 18px;
            font-weight: 600;
            text-transform: uppercase;
            background-attachment: local;
            background-image:
                linear-gradient(to right, transparent 10px, transparent 10px),
                linear-gradient(to left, transparent 10px, transparent 10px),
                repeating-linear-gradient(transparent, transparent 30px, #ccc 30px, transparent 31px);
        }
        &:hover,  &:focus{
            background-image:
            linear-gradient(to right, transparent 10px, transparent 10px),
            linear-gradient(to left, transparent 10px, transparent 10px),
            repeating-linear-gradient(transparent, transparent 30px, #000 30px, transparent 31px);
        }
    }
    font-size: 25px;
    font-weight: 600;
    text-transform: uppercase;
}

.name{
    font-size: 28px;
    letter-spacing: 3.2px;
    color: #0D4C92;
    text-transform: uppercase;
}

.icon{
    color: #fbfbfb;
    width: 70% !important;
    padding: 3px;
    height: 70% !important;
    background-color: #0D4C92;
    border: 1px solid #0D4C92;
    border-radius: 50%;
}

.font-15{
    font-size: 15px;
    line-height: 2;
    .MuiInputBase-root{
        input{
            font-size: 15px;
            line-height: 1.5;
        }
    }
}

.font-22{
    font-size: 18px;
    line-height: 1.5;
}

.font-20{
    font-size: 20px;
    line-height: 1.5;
}
.font-30{
    font-size: 20px;
    line-height: 1.5;
}

.color-1{
    color: #0D4C92 !important;
    .MuiInputBase-root {
        input {
            color: #0D4C92 !important;
        }
    }
}

.fw-600{
    font-weight: 600;
}

.uppercase{
    text-transform: uppercase;
}

.pdl-60{
    padding-left: 60px !important;
}

.pdl-20{
    padding-left: 20px !important;
}

.container-form{
    display: flex;
    justify-content: space-between;
}

.text-dot{
    border-bottom: 1px dotted #999;
    margin: 0
}

.dotted{
    .MuiInputBase-root{
        .MuiInputBase-input{
            background-attachment: local;
            background-image:
                linear-gradient(to right, transparent 10px, transparent 10px),
                linear-gradient(to left, transparent 10px, transparent 10px),
                repeating-linear-gradient(transparent, transparent 30px, #ccc 30px, transparent 31px);
            line-height: 31px;
            &:hover,  &:focus{
                background-image:
                linear-gradient(to right, transparent 10px, transparent 10px),
                linear-gradient(to left, transparent 10px, transparent 10px),
                repeating-linear-gradient(transparent, transparent 30px, #000 30px, transparent 31px);
            }
        }
    }
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
  
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.mr-10{
    margin-right: 10px !important;
}
.ml-20{
    margin-left: 20px !important;
}

.mt-20{
    margin-top: 20px !important;
}

.custom-file-upload {
    background-color: #0d4c92 !important;
  color: #fbfbfb !important;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 10px;
    padding: 10px 10px;
    cursor: pointer;
    &:hover{
        border: 1px solid var(--primary-color)
    }
}

.button-choose-image {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.image-upload{
    height: 200px;
    width: 180px;
    object-fit: cover;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}