.icon-close {
  position: absolute;
  top: 10px;
  right: 10px;

  button {
    color: rgba(254, 39, 39, 0.7);
  }
}

.button-confirm {
  background-color: #2e7d32 !important;
  color: #fbfbfb !important;
  :hover {
    opacity: 0.7;
  }
}

.button-confirm1 {
  background-color: #1976d2 !important;
  color: #fbfbfb !important;
  :hover {
    opacity: 0.7;
  }
}

.button-cancel {
  background-color: #fbfbfb !important;
  color: #1976d2 !important;
  border: 1px solid #1976d2;
  &:hover {
    color: #fbfbfb !important;
    .MuiTouchRipple-root{
      background-color: #1976d2 !important;
    }
  }
}
.button-cancel1 {
  color: #f44336 !important;
  :hover {
    opacity: 0.7;
  }
}
// gdffdghfgdfs
