.text-form{
    font-weight: 600
}
.text-font{
    font-size: 16px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.padding-container{
    padding: 0 20px ;
    margin: 10px 0 ;
}
.date-picker{
    .MuiInputBase-root{
        .MuiButtonBase-root{
            color: #868dfb
        }
    }
}
.text-area{
    .MuiInputBase-input{
        line-height: 1.4;
    }
}

.text-sample{
    height: 10%;
    font-size: 16px;
}
.text-sample-center{
    display: flex;
    align-items: center;
}